:screensizes{
    --centerScreen: 45vw;
}

.mainHead {
	
    border: 0.5vw inset rgba(252,81,29,0.88);
    border-bottom: 0px;

    position: fixed;
    margin: 0;

    z-index: 4;

    top:0;
    right:0;
    left: 0;
    
    width: calc(99% + 0.01em);
    height: 1.5em;

    text-shadow: 0 0 0.15vw #FFF, 0 0 0.3vw rgb(5, 0, 0), 0 0 1.5vw #FFF, 0.2vw 0.1vw 0.3vw #FC511D, -1.2vw -1.2vw 2.0vw rgba(252,0,0,0.52);
    color: #FFFFFF;
    background: #130909;

    font-family: Impact, Charcoal, sans-serif;
    font-size: 2.7vw; 
    overflow: hidden;

    letter-spacing: 3.6px;
    word-spacing: 5.4px;    
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    text-align: center;

}

.topicsBar{
    border: 0.25vw inset rgba(252,81,29,0.88);
    
    z-index: 4;
    position:fixed;

    top:3.8vw;
    right:0;
    left: 0;
    
    width: calc(99.5% + 0.01em);;
    height: 1.2em;

    text-shadow: 0 0 0.5vw #FFF, 0 0 0.3vw rgb(5, 0, 0), 0 0 1.5vw #FFF, 0.2vw 0.1vw 0.3vw #FC511D, -1.2vw -1.2vw 2.0vw rgba(252,0,0,0.52);
    color: #FFFFFF;
    background: #130909;

    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.5vw; overflow: hidden;

    letter-spacing: 0.05vw;
    word-spacing: 0.002vw;    
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    text-align: center;

    background-image: url('img/isee.gif');
    background-repeat: no-repeat;
    background-position: -1vw -1vw;
    background-size: 5vw;
}

a
{
    text-shadow: 0 0 0.5vw #FFF, 0 0 0.3vw rgb(5, 0, 0), 0 0 1.5vw #FFF, 0.2vw 0.1vw 0.3vw #FC511D, -1.2vw -1.2vw 2.0vw rgba(252,0,0,0.52);
    z-index: 1;
    color: #FFFFFF;
    background: #130909;
    text-decoration: none solid rgb(68, 68, 68);
}

a:hover
{
    color: black;
    text-shadow: 0 0 1vw rgb(255, 100, 100), 0 0 0.1vw rgb(5, 0, 0), 0 0 1.5vw rgb(255, 124, 124), 0.2vw 0.1vw 0.3vw #FC511D, -1.2vw -1.2vw 2.0vw rgba(252,0,0,0.52);
}

.infoboxTitle
{

    background-color:black;
    z-index: 3;
    border: 0.1em inset rgb(255, 0, 0);
    border-radius: 3em;
    padding: 0.5vw;
    width:4em;
    color: white;
    position: relative;
    font-size:2.6em;
    text-align: center;
    text-decoration: none solid rgb(68, 68, 68);
    text-shadow: 0 0 5px #FFF, 0 0 10px rgb(5, 0, 0), 0 0 15px #FFF, 6px 1px 3px #FC511D, -12px -12px 20px rgba(252,0,0,0.52);

}

.infoboxParagraph
{
    background-color:rgb(255, 255, 255);
    z-index: 2;
    border: 0.2em inset red;
    border-radius:3em;
    padding: 30px;
    padding-right:40px;
    padding-top:2em;
    color: rgb(0, 0, 0);
    position: relative;
    width:30vw;
    font-size:1.5em;
    text-align:justify;
    text-decoration: none solid rgb(68, 68, 68);
    text-shadow: 0 0 5px #FFF, 0 0 3px rgb(5, 0, 0), 0 0 15px #FFF, 6px 1px 3px #FC511D, -12px -12px 20px rgba(252,0,0,0.52);
}


.homepagebackground
{
    background-image: url('img/homepage.gif');
    background-size: cover;
    background-color:black
}

.pageimages
{
    z-index:0;
    position:fixed;
}

.hidden-buttons {
    display: none;
    margin-top: 10px;
}

.pdfMainButton{
    position: fixed;
    left: 42vw;
    top: 16vw;
    background-color: rgba(0, 0, 0, 0.0001);   
    border: 0px;

}

.referenceMainButton{
    position: fixed;
    left: 14.5vw;
    top: 20vw;
    background-color: rgba(0, 0, 0, 0.0001);   
    border: 0px;

}

.exMainButton{
    opacity: 0;
    position: fixed;
    left: 70vw;
    top: 20vw;
    background-color: rgba(0, 0, 0, 0.0001);   
    border: 0px;
    opacity: 100%;
    transition: all 1s ease;
}

.pdfAltButtons{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.0001);
    padding:2vw;   
    border: 1px solid rgba(0, 0, 0, 0.0001);
    border-radius: 5vw;
    font-size:2vw;
    font-family: "Brush Script MT";
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, 2px 2px 2px #CE0000, 2px 2px 7px #CE0000, 2px 2px 11px #CE0000, 2px 2px 15px #CE0000, 2px 2px 18px #CE0000, 2px 1px 18px #CE0000, 2px -7px 18px #CE0000, 2px -10px 18px #CE0000, 2px -10px 18px #CE0000;
    color: #FFFFFF;

}

.pdfAltButtons:hover{
    background-image: url("img/bloodSplatter.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    text-shadow: black 0px 0px 5px, black 0px 0px 10px, 2px 2px 2px #CE0000, 2px 2px 7px #CE0000, 2px 2px 11px #CE0000, 2px 2px 15px #CE0000, 2px 2px 18px #CE0000, 2px 1px 18px #CE0000, 2px -7px 18px #CE0000, 2px -10px 18px #CE0000, 2px -10px 18px #CE0000;

}

.exAltButtons{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.0001);
    padding:2vw;   
    border: 1px solid rgba(0, 0, 0, 0.0001);
    border-radius: 5vw;
    font-size:2vw;
    font-family: "Brush Script MT";
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, 2px 2px 2px #CE0000, 2px 2px 7px #CE0000, 2px 2px 11px #CE0000, 2px 2px 15px #CE0000, 2px 2px 18px #CE0000, 2px 1px 18px #CE0000, 2px -7px 18px #CE0000, 2px -10px 18px #CE0000, 2px -10px 18px #CE0000;
    color: #FFFFFF;
    opacity: 100%;
    transition: all 100s ease;
}

.exAltButtons:hover{
    background-image: url("img/bloodSplatter.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    text-shadow: black 0px 0px 5px, black 0px 0px 10px, 2px 2px 2px #CE0000, 2px 2px 7px #CE0000, 2px 2px 11px #CE0000, 2px 2px 15px #CE0000, 2px 2px 18px #CE0000, 2px 1px 18px #CE0000, 2px -7px 18px #CE0000, 2px -10px 18px #CE0000, 2px -10px 18px #CE0000;
    transition: all 1s ease;
}

.pdfButtonImage{
    width:10vw; 
    height:10vw;
}

.blur{
    filter:blur(2000px);
    pointer-events:none;
    background-color: red;
    transition: all 5s ease;  
}

.moveAbove{
    position: fixed;
    left: 42vw;
    top: 10vw;
    transition: all 1s ease;
}
